.pageTitle {
  color: #1d4ed8;
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid #3b82f6;
  width: fit-content;
  margin: 20px auto;
  padding-bottom: 5px;
}
.blogs-Containter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  width: 95%;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .blogs-Containter {
    grid-template-columns: repeat(1, 1fr);
  }
}

.blog-content {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 5px 5px #eaeaea;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.blog-content img.charachter-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  z-index: 1;
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.facebookImage {
  position: absolute;
  left: -30px;
  z-index: 1;
  bottom: 0;
  border-radius: 50%;
}

.blogButton {
  position: absolute;
  bottom: 20px;
  left: 130px;
  border-radius: 25px !important;
  border-color: #5cb85c !important;
}

.blogButton:hover {
  background-color: #5cb85c !important;
  color: #fff;
}
.blog-date {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ddd;
}
.blog-title {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
  display: block;
  color: #1d4ed8;
  min-width: calc(380px - 140px);
  max-width: calc(480px - 140px);
}
.blog-paragraph {
  max-height: 70px;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.5px;
  min-width: calc(380px - 140px);
  max-width: calc(480px - 140px);
  font-size: 18px;
}

/**/
.reaction-container {
  position: relative;
  display: inline-block;
}

.reaction-menu {
  position: absolute;
  bottom: 120%;
  left: 0;
  display: flex;
  gap: 12px;
  background: white;
  padding: 10px 14px;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.reaction-menu i {
  cursor: pointer;
  transition: transform 0.2s;
}

.main-icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.commentForm {
  position: absolute;
  width: 96%;
    bottom: 2%;
    right: 2%;
}
.dx-popup-content{
max-height: 350px !important;
}

.commentForm form {
  display: flex;
  gap: 10px;
}

.commentForm .dx-textbox.dx-texteditor{
  flex-grow: 1;
}
.comment{
  position: relative;
  margin-bottom: 15px;
}
.userImage{
    border: 1px solid #eaeaae;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
}

.userComment{
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  width: 90%;
  padding: 5px;
  margin-right: 35px;
}
.userComment span{
  font-weight: bold;
}
.dateAndActions{
  position: absolute;
  left: -5px;
  bottom: -27px;
  display: flex;
  gap: 5px;
}

.actionBtn .dx-button-content{
  padding: 1px 5px !important;
}

.postAction{
  display: flex;
  width: fit-content;
  padding: 0;
  background-color: #ccc;
  margin-right: auto;
}

.postAction > div {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 2px solid #000;
  min-width: 150px;
  text-align: center;
  justify-content: center;
}

.postAction > div:first-of-type{
  border-right: 0;
}