.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #2563eb;
  color: #fff;
  direction: ltr;
  height: 65px;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 16px;
  direction: rtl;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  direction: rtl;
  padding-bottom: 5px;
  outline: none;
}

.navbar a.active {
  border-bottom: 1px solid #fff;
  color: black;
  font-size: 20px;
}
