.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  height: calc(100vh - 65px);
  margin-top: 65px;
  width: 150px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
